.mainContainer{
    background-color: rgb(213, 241, 184);
}

.topContainer{

}

.midContainer{
    
}

.titleText{
    text-align: center;
    font-size: 3em;
    margin: 1em;
}

.midContentContainer{
    display: flex;
    text-align: center;
    align-self: center;
    padding-top: 2em;
}

.plataformSelectorContainer{
    width: 50%;
    margin-right: 3em;
}

.plataform{
    background-color: aqua;
}

.descriptionPlataformContainer{
    width: 50%;
    text-align: center;
    padding-right: 12%;
}


.bottomContainer{ 
    text-align: center;  
}

.buttonContainer{
    text-align: center;
}
 