<div class="titulo">
<h1>Plataformas</h1>
</div>

<div class="maincontainer">
<div class="container">
<img src="../../../../../assets/icono-movil.png" alt="logo" class="iconos">
<h3>Aplicaciones movil</h3>
<p>aasdasdasdasdasdaasdasdasda<br>sdasdasdasdasdasdasdasdasd</p>
<ul>
    <li>asdasdasdasd</li>
    <li>asdasdasdasd</li>
    <li>asdasdasdasda</li>
</ul>
</div>
<div class="container">
    <img src="../../../../../assets/icono-escritorio.png" alt="logo" class="iconos">
    <h3>Aplicaciones de escritorio</h3>
    <p>aasdasdasdasdasdaasdasdasda<br>sdasdasdasdasdasdasdasdasd</p>
    <ul>
        <li>asdasdasdasd</li>
        <li>asdasdasdasd</li>
        <li>asdasdasdasd</li>
    </ul>
</div>
<div class="container">
    <img src="../../../../../assets/icono-web.png" alt="logo" class="iconos">
    <h3>Paginas web</h3>
    <p>aasdasdasdasdasdaasdasdasda<br>sdasdasdasdasdasdasdasdasd</p>
    <ul>
        <li>asdasdasdasd</li>
        <li>asdasdasdasd</li>
        <li>asdasdasdasd</li>
    </ul>
</div>
</div>