.titulo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.container{
    background-color: black;
    height: 310px;
    width: 260px;
    border-radius: 10px;
    margin: 15px;
    color: aliceblue;
    transition:  0.8s linear 0.10s;
}

.container:hover {
    height: 350px;
    width: 300px;
    margin: 4px;
    box-shadow: 5px 5px 20px black;
}

.iconos {
    height: 70px;
    width: 70px;
}
 