<div class="mainContainer">
    <div class="leftContainer">
        <h2 class="titleLeft">Nos puedes encontrar en</h2>
        <div class="iconContainer">
            <i class="bi bi-facebook"></i>
            LinkedIn
        </div>
        <div class="iconContainer">
            <img src="" alt="">
            Facebook
        </div>
        <div class="iconContainer">
            <img src="" alt="">
            GitHub
        </div>
    </div>
    <div class="rightContainer">
        <h2 class="titleRight">Comunicate con nosotros</h2>
        <div class="iconContainer">
            <img src="" alt="">
            +569 1111 11111
        </div>
        <div class="iconContainer">
            <img src="" alt="">
            +569 1111 11111
        </div>
        <div class="iconContainer">
            <img src="" alt="">
            MethoidSoftware@gmail.com
        </div>
    </div>
</div>