.mainContainer{
    background-color: rgb(127, 187, 255);
    display: flex;
}

.leftContainer{
    margin: 4em;
    width: 50%;
    text-align: center;
}

.titleLeft{

}

.rightContainer{
    width: 50%;
    margin: 4em;
    text-align: center;
}