<div class="mainComponent">
    <div class="titleComponent">
        <h1>Title</h1>
        <h2>SubTitle</h2>
    </div>
    <div class="servicesComponent">
        <div class="leftServicesComponent">
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
        </div>
        <div class="rightServicesComponent">
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
            <div class="serviceComponent">
                <img src="" alt="Img">
                Texto
            </div>
        </div>
    </div>
</div>