.card-slider-container {
  position: relative;
  width: 100%;
}

.card-slider {
  display: flex;
  overflow: hidden;
  cursor: grab;
}

.cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  min-width: 200px; /* Ajusta según sea necesario */
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.foto-cliente{
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.boton-previus{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.boton-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 0 10px;
  box-sizing: border-box;
  left: 94%;
}

::ng-deep .tooltip{
--mdc-plain-tooltip-container-color: rgb(252, 251, 251);
--mdc-plain-tooltip-supporting-text-color: black;
--mdc-plain-tooltip-supporting-text-size: 13px;
}