<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card-slider">
        <div class="cards" [style.transform]="'translateX(' + (-currentIndex * cardWidth) + 'px)'">
          <div class="card" *ngFor="let card of infiniteCards; let i = index">
            <div class="card-body">
              <img [matTooltip]="card.description" matTooltipPosition="above" matTooltipClass="tooltip" class="foto-cliente" [src]="card.imagen" alt="foto-cliente">
            </div>
          </div>
        </div>
      </div>
      <div class="boton-previus">
        <button class="btn btn-secondary" (click)="moveToPrevious()"><</button>
      </div>
      <div class="boton-next">
        <button class="btn btn-secondary" (click)="moveToNext()">></button>
      </div>
    </div>
  </div>
</div>